<h1>hola mundo :D pagina index papaaa</h1>


<table>
<tr>
<td><h2>voy a crear un inventario</h2></td>
</tr>
<tr>
<td>uno de computadores que tienen diversas cosas conectadas</td>
</tr>
<tr>
<td>este inventario permite tener registro de los elementos gracias a su id o nro serie</td>
</tr>
<tr>
<td>en especifico es de computadoras,ups,hub usb, teclado , mouse</td>
</tr>
</table>

<%= link_to 'ir al inventario' %>
